{% extends "@MikyApp/layout.html.twig" %}
{% block content %}

    <div class="col-md-9 mainbar">

        <div class="clearfix"></div>

        <div class="main-content">
            <ul class="nav nav-tabs">


                <li role="presentation" class="dropdown pull-right">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Afficher par <span class="caret"></span> </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path("miky_app_customer_store_list", app.request.query.all|merge({"hasAd": "false"})) }}">Toutes</a></li>
                        <li><a href="{{ path("miky_app_customer_store_list", app.request.query.all|merge({"hasAd": "true"})) }}">Les boutiques avec annonces</a></li>
                    </ul>
                </li>


                <div class="clearfix"></div>
            </ul>
            <div class="tab-content">
                <div id="sec1" class="tab-pane fade in active">
                    {% for customer in pagination %}
                        <div class="row item {% if loop.last == true and pagination|length > 1 %}last-child{% endif %}">
                            <div class="col-md-4">
                                <div class="img-ad-container">
                                <a href="{{ path('miky_app_customer_store_show', {'user': customer.id}) }}">
                                    {% if customer.profileImage is not empty %}
                                        {% media customer.profileImage, 'big' with {'class': 'img-responsive thumb-ad'} %}
                                    {% else %}
                                        <img width="200" height="150" src="{{ asset('img/aucune-image_Miky.png') }}"
                                             class="img-responsive"/>
                                    {% endif %}
                                </a>
                                    </div>
                            </div>


                            <div class="col-md-8">
                                <a href="{{ path('miky_app_customer_store_show', {'user': customer.id}) }}">
                                {% if customer.location is not null %}
                                <img src="" class="flag img-responsive pull-left flag-{{ customer.location.countryShortName|lower }}">
                                {% endif %}

                                {% include "@MikyUser/Frontend/Block/certified_button.html.twig" with {"user": customer} %}
                                <div class="clearfix"></div>

                                <h2>{{ customer.companyName }}</h2>
                                    {%  if customer.activity is not null %}
                                    <h4>Activité : {{ customer.activity }}</h4>
                                    {% endif %}
                                <div class="pull-left">
                                    <h3>{{ customer.ads|length }} Annonce[s]</h3>
                                </div>

                                <div class="clearfix"></div>
                                    </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-3 sidebar">
        <div style="width:100%;height:100%;background-color: #e4e4e4 ; height: 100vh"></div>
    </div>

{% endblock %}