{% extends "@MikyApp/profile_layout.html.twig" %}
{% form_theme form 'MikyAppBundle:Form:theme.html.twig' %}
{% block main_bar %}

    <style>
        .form-group ul.dropdown-menu.inner{
            max-height: 125px !important;
        }
    </style>
    {{ form_start(form,  {"attr": {"novalidate": "" }} ) }}
        <div class="col-md-6 edit-profile">
            <div class="form-group">
                <label><b>NOM D'UTILISATEUR:</b></label>
                {{ form_errors(form.username) }}
                {{ form_widget(form.username, {"attr": {"class": "form-control" }}) }}
            </div>
            <div class="form-group">
                <label><b>ADRESSE EMAIL(*):</b></label>
                {{ form_errors(form.email) }}
                {{ form_widget(form.email, {"attr": {"class": "form-control" }}) }}
            </div>
            <div class="form-group">
                <label><b>NOM DE L'ENTREPRISE:</b></label>
                {{ form_errors(form.companyName) }}
                {{ form_widget(form.companyName, {"attr": {"class": "form-control" }}) }}
            </div>
            <div class="form-group">
                <label><b>N° SIREN:</b></label>
                {{ form_errors(form.companyId) }}
                {{ form_widget(form.companyId, {"attr": {"class": "form-control" }}) }}
            </div>
            <div class="form-group">
                <label><b>ACTIVITÉ:</b></label>
                {{ form_errors(form.activity) }}
                {{ form_widget(form.activity, {"attr": {"class": "form-control" }}) }}
            </div>
            <div class="form-group">
                <label><b>DESCRIPTION DE L'ENTREPRISE:</b></label>
                {{ form_errors(form.companyDescription) }}
                {{ form_widget(form.companyDescription, {"attr": {"class": "form-control", 'maxlength': "800" }}) }}
            </div>

            <div class="form-group">
                <label>NOUVEAU MOT DE PASSE:</label>
                {{ form_widget(form.plainPassword.first, {"attr": {"class": "form-control" }}) }}
            </div>
            <div class="form-group">
                <label>REPETEZ LE NOUVEAU MOT DE PASSE:</label>
                {{ form_widget(form.plainPassword.second, {"attr": {"class": "form-control" }}) }}
            </div>

            <div class="form-group" style="margin-top: 10px;">
                <label>ADRESSE</label>
                {{ form_widget(form.location.formattedAddress, {'id': 'user_input_autocomplete_address', 'attr': {'class': 'form-control disabled', 'placeholder': 'miky.location.please_type_address'|trans}}) }}
                <div id="map" style="width: 100%; height: 300px; position: relative; overflow: hidden;">

                </div>
                {{ form_widget(form.location.streetNumber, {'id': 'street_number'}) }}
                {{ form_widget(form.location.street, {'id': 'route'}) }}
                {{ form_widget(form.location.postalCode, {'id': 'postal_code'}) }}
                {{ form_widget(form.location.city, {'id': 'locality'}) }}
                {{ form_widget(form.location.country, {'id': 'country'}) }}
                {{ form_widget(form.location.countryShortName, {'id': 'country_short'}) }}
                {{ form_widget(form.location.administrativeAreaLevel2, {'id': 'administrative_area_level_2'}) }}
                {{ form_widget(form.location.administrativeAreaLevel1, {'id': 'administrative_area_level_1'}) }}
                {{ form_widget(form.location.latitude, {'id': 'lat'}) }}
                {{ form_widget(form.location.longitude, {'id': 'lng'}) }}
            </div>
        </div>
        <div class="col-md-6 edit-profile">
            <div class="form-group">
                <label>PRENOM:</label>
                {{ form_widget(form.firstname, {"attr": {"class": "form-control" }}) }}
            </div>
            <div class="form-group">
                <label>NOM:</label>
                {{ form_widget(form.lastname, {"attr": {"class": "form-control" }}) }}
            </div>
            <div class="form-group">
                <label><b>QUELLES LANGUES PARLEZ-VOUS ?</b></label>
                {{ form_errors(form.languagesSpoken) }}
                {{ form_widget(form.languagesSpoken, {'attr': {'class': 'form-control selectpicker', 'data-live-search':'true', 'title': 'Selectionnez les langues...'}}) }}
            </div>
            <div class="profile-image form-group">
                <label>IMAGE DE PROFIL (Récommandé :200PX W/H) (.JPG, .PNG, .GIF):</label>
                {{ form_widget(form.profileImage) }}
            </div>
            <div class="form-group">
                <label>SITE WEB:</label>
                {{ form_widget(form.website, {"attr": {"class": "form-control" }}) }}
            </div>
            <div class="form-group">
                <label>TELEPHONE:</label>
                {{ form_widget(form.phone, {"attr": {"class": "form-control" }}) }}
            </div>
            <div class="form-group">
                <label>MOBILE:</label>
                {{ form_widget(form.mobile, {"attr": {"class": "form-control disabled" }}) }}
            </div>
            <div class="form-group">
                <label>TWITTER:</label>
                {{ form_widget(form.twitter, {"attr": {"class": "form-control disabled" }}) }}
            </div>
            <div class="form-group">
                <label>FACEBOOK:</label>
                {{ form_widget(form.facebook, {"attr": {"class": "form-control disabled" }}) }}
            </div>
            <div class="form-group">
                <label>LINKEDIN:</label>
                {{ form_widget(form.linkedin, {"attr": {"class": "form-control disabled" }}) }}
            </div>

        </div>
        <div class="clearfix"></div>

        <button class="btn btn-default" type="submit">Mettre a jour</button>
    {{ form_widget(form._token) }}
    </form>

{% endblock %}

{% block javascripts_level_page %}

<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyC4qRdwcWnBSD-9E9X4mO92QxzWG5MvWwk&language={{ app.request.locale }}">
</script>
<script src="{{ asset('bundles/mikyapp/js/google/autocomplete.js') }}"></script>

{% endblock %}