{% extends "@MikyApp/profile_layout.html.twig" %}
{% block main_bar %}

        <div class="table-responsive">
            <table class="table items">
                <thead>
                <tr>
                    <td style="width: 15%"></td>
                    <td style="width: 35%">Titre</td>
                    <td style="width: 15%">Categorie</td>
                    <td style="width: 15%">Posté-le</td>
                    <td style="width: 20%"></td>
                </tr>
                </thead>
                <tbody>
                {% if ads is not empty %}
                {% for ad in ads %}
                <tr>
                    <td style="width: 15%">
                        {% if ad.images is not empty %}
                            {% media ad.images[0], 'medium' with {'class': 'img-responsive'} %}
                        {% else %}
                            <img width="200" height="150" src="{{ asset('img/aucune-image_Miky.png') }}"
                                 class="img-responsive"/>
                        {% endif %}
                        </td>
                    <td style="width: 35%"><a href="{{ path('miky_app_ad_show', {'ad': ad.id}) }}"><b>{{ miky_ad_translate_title(ad) }}</b></a></td>
                    <td style="width: 15%"><a href="#"><b>{{ ad.category.name }}</b></a></td>
                    <td style="width: 15%">{{ ad.validatedAt|date("d/m/Y") }}</td>
                    <td style="width: 20%">
                        <a href="{{ path('miky_app_favorite_ads_remove', {'ad': ad.id}) }}" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
           {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="5" style="width: 100%; text-align: center">
                              Aucune annonces dans les favoris
                            </td>

                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>


{% endblock %}