{% extends "@MikyApp/layout.html.twig" %}
{% block content %}
    <div class="container connect-form">
        <div class="col-md-12">
            {% block sonata_user_login_error %}
                {% if error %}
                    <div class="alert alert-danger alert-error">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}
            {% endblock %}
            <form action="{{ path("miky_app_customer_security_login_check") }}" method="post" role="form">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                <div class="panel panel-default login" style="margin-top: 50px;">
                    <div class="panel-heading"><h3 style="margin-top:10px; font-weight: normal">Connexion</h3></div>
                    <div class="panel-body text-center">
<p style="text-align: center">PAS ENCORE MEMBRE ? <a href="{{ path("miky_app_customer_registration_register") }}"><b>S'INSCRIRE
            MAINTENANT</b></a> - {{ "miky.ui.its_free"|trans }}</p>
                        <div class="col-md-6">
                            <div style="margin: 20px 0;">
                                <div class="bdr"
                                     style="border-bottom: 1px solid #ddd; position:relative; margin-top: -10px;">
                                    <span style="display: inline-block; position: relative; background-color: #fff; padding: 3px 5px; top: 15px;"><b>SE CONNECTER AVEC UN RESEAU SOCIAL</b></span>
                                </div>
                            </div>
                            <a href="{{ hwi_oauth_login_url('facebook') }}" style="display: block;" class="socmed fb"><i
                                        class="fa fa-facebook"></i> SE CONNECTER AVEC FACEBOOK</a>
                            <a href="{{ hwi_oauth_login_url('twitter') }}" style="display: block;"
                               class="socmed twitter"><i class="fa fa-twitter"></i> SE CONNECTER AVEC TWITTER</a>
                            <a href="{{ hwi_oauth_login_url('google') }}" style="display: block;"
                               class="socmed gplus"><i class="fa fa-google-plus"></i> SE CONNECTER AVEC GOOGLE</a>

                        </div>
                        <div class="col-md-6">
                            <div style="margin: 20px 0;">
                                <div class="bdr"
                                     style="border-bottom: 1px solid #ddd; position:relative; margin-top: -10px;">
                                    <span style="display: inline-block; position: relative; background-color: #fff; padding: 3px 5px; top: 15px;"><b>OU</b></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>NOM D'UTILISATEUR:</label>
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">
                                        {% include 'MikyAppBundle:icons:profil.svg.twig' %}
                                    </span>
                                    <input type="text" class="form-control" name="_username"
                                           placeholder="Entrez le nom d'utilisateur" aria-describedby="basic-addon1">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>MOT DE PASSE:</label>
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">
                                        {% include 'MikyAppBundle:icons:cadenas.svg.twig' %}
                                    </span>
                                    <input type="password" class="form-control" name="_password"
                                           placeholder="Entrer le mot de passe" aria-describedby="basic-addon2">
                                </div>
                            </div>
                            <div style="text-align: left">
                                <input id="switch-size" name="_remember_me" type="checkbox" data-size="mini"
                                       data-on-text="OUI" data-off-text="NON">Se souvenir de moi
                            </div>
                            <div style="text-align: left; padding: 5px">
                                <a href="{{ path('miky_app_customer_resetting_request') }}"><b>Mot de passe
                                        oublié?</b></a>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="_target_path" value="{{ referer }}"/>
                    <div class="panel-footer">
                        <p style="text-align: end;"><button class="btn btn-default" type="submit">Connectez-vous maintenant</button></p>

                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $('document').ready(function () {
            $("#switch-size").bootstrapSwitch();
        });
    </script>
{% endblock %}